[submodule "remote-wiring"]
	path = remote-wiring
	url = https://github.com/ms-iot/remote-wiring.git
[submodule "Adafruit_NeoPixel"]
	path = Adafruit_NeoPixel
	url = https://github.com/adafruit/Adafruit_NeoPixel.git
